/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: normal;
  color: #FFFFFF;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

input, .main-menu {
  display: none;
}

/*header start*/
.header {
  width: 100vw;
  height: 100vh;
  background: url(../img/Desktop/img.jpg) no-repeat center;
  background-size: cover;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19.5px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
  color: #FCD544;
}

.header__social {
  margin-right: 60px;
}

.header__social-link {
  margin-right: 25px;
}

.header__social-link:last-child {
  margin-right: 0px;
}

.header__top__order{
  display: none;
}

/*header end*/

.wrapper__content {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 322px;
  margin-top: 174px;
}

.wrapper__content-title {
  font-size: 50px;
  height: 125px;
  width: 445px;
  text-align: left;
  line-height: 62.5px;
  
}

.wrapper__content-description {
  font-family: 'Montserrat';
  font-size: 18px;
  height: 96px;
  width: 470px;
  text-align: left;
  line-height: 31.5px;
}

.wrapper__content-button {
  width: 270px;
  height: 60px;
  background-color: #FCD544;
  border: 0;
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 175%;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper__content-button:hover {
  background-color: #FCBD44;
}

.wrapper__content-button:active {
  background-color: #F9D85F;
}

.aboutUs {
  height: 100vh;
  background-color: #F0F9FC;
  background: url(../img/Desktop/elements.jpg) no-repeat center;
  background-size: cover;
}

.aboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistic {
  display: grid;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
  width: 470px;
  height: 261px;
  margin-top: 90px;
}

.statistic__item{
  display: inline-block;
  flex-wrap: wrap;
  height: 100px;
}

.statistic__item-number {
  font-size: 50px;
  line-height: 62.5px;
  color: rgba(61, 180, 211, 1);
}

.statistic__item-discr {
  font-size: 18px;
  line-height: 31.5px;
  color: rgba(117, 117, 117, 1);
}

.ourInfo {
  width: 470px;
  height: 430px;
}

.ourInfo-title {
  font-size: 50px;
  line-height: 62.5px;
  color: black;
}

.ourInfo-title-word {
  display: inline-block;
  background-color: rgba(252, 213, 68, 1);
}

.ourInfo-discr {
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 31.5px;
  color: rgba(117, 117, 117, 1);
  margin-top: 60px;
}

@media (max-width: 760px) {
  .header {
    height: 750px;
  }
  
  .wrapper {
    width: 100%;
  }
  .menu__checkbox-label {
    position: absolute;
    top: 28px;
    left: 270px;
    width: 25px;
    height: 17px;
    content: url("../img/Mobile/menu.png");
    cursor: pointer;
  }

  .header__wrapper {
    padding: 20px 15px 0 15px;
  }

  .header__list {
    display: none;
  }

  .wrapper__content{
    height: 400px;
    width: 300px;
    margin: 0 auto;
    margin-top: 175px;
  }

  .wrapper__content-title {
    font-size: 34px;
    line-height: 40.8px;
    width: 290px;
  }

  .wrapper__content-description {
    height: 112px;
    width: 290px;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
  }

  .wrapper__content-button {
    width: 290px;
    height: 60px;
  }

  .header__social {
    display: none;
  }

  .aboutUs {
    height: 940px;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
  }

  .ourInfo {
    width: 300px;
  }

  /*Burger*/

  #check-menu {
    display: none;
  }
  
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 85%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
  }
  
  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
  }

  .first {
    top: 38px;
  }
  
  .second, .third {
    top: 48px;
  }
  
  .fourth {
    top: 58px;
  }
  
  .main-menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
  }
  
  .main-menu-link {
    font-family: 'Montserrat';
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: #40bbd7;
  }
  
  #check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
  }
  
  #check-menu:checked ~ .first{
    display: none;
  }
  
  #check-menu:checked ~ .second{
    transform: rotate(45deg);
  }
  
  #check-menu:checked ~ .third{
    transform: rotate(-45deg);
  }
  
  #check-menu:checked ~ .fourth{
    display: none;
  }

   /*Burger END*/

  .statistic{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    align-items: center;
    margin: 0 auto;
  }

  .ourInfo-discr {
    font-size: 16px;
    line-height: 28px;
    width: 290px;
    height: 150px;
    margin: auto;
  }

  .statistic-item {
    height: 300px;
    padding-left: 0px;
  }

  
  .ourInfo-title {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 290px;
    font-size: 34px;
    line-height: 40.8px;
  }

  .statistic__item-discr {
    width: 130px;
  }

  .statistic__item-number {
    font-size: 34px;
    line-height: 40.8px;
  }
}

.aboutPM {
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 13px;
}

.aboutPM-img {
  display: none;
}

.aboutPM__info {
  margin-left: 100px;
}

.aboutPM__title {
  align-items: center;
  font-size: 50px;
  line-height: 62.5px;
  color:rgba(33, 33, 33, 1);
  margin-bottom: 50px;
}

.aboutPM__title-word {
  display: inline-block;
  background-color: #FCD544;
}

.aboutPM__discr {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 31.5px;
  color: rgba(117, 117, 117, 1);
  width: 440px;
}

@media (max-width: 760px) {
  .aboutPM {
    display: block;
    flex-direction: column;
    width: 320px;
    height: 1186px;
  }

  .aboutPM__info {
    width: 300px;
    height: 10px;
    margin: 0;
  }

  .aboutPM__title {
    width: 250px;
    margin: 0 0 0 15px;
    font-size: 34px;
    line-height: 40.8px;
  }

  .aboutPM__title-word {
    display:inline;
    height: 123px;
  }

  .aboutPM__info-img {
    display: none;
  }

  .aboutPM__discr {
    width: 300px;
    margin-left: 15px;
  }

  .aboutPM-img {
    padding: 50px 0 50px 0;
    margin-left: -10px;
    display: block;
  }

}

.duties {
  height: 100vh;
  background-color: #F0F9FC;
  background: url(../img/Desktop/elements2.jpg) no-repeat center;
  background-size: cover;
}

.duties {
  display: flex;
  align-items: center;
  justify-content: center;
}

.duties__pos {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}

.duties__title {
  width: 1020px;
  height: 63px;
  font-size: 50px;
  line-height: 62.5px;
  color: rgba(33, 33, 33, 1);
  margin-right: 100px;
}

.duties__title-word {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(252, 213, 68, 1);
}

.duties__discr-item {
  margin-right: 100px;
  width: 270px;
  font-size: 18px;
  line-height: 31.5px;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 45px;
}

.duties__discr-item-num {
  font-size: 50px;
  line-height: 62.5px;
  color: rgba(61, 180, 211, 1);
  margin-bottom: 10px;
}

.duties__discr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 50px;
  line-height: 62.5px;
  color: rgba(33, 33, 33, 1);
  margin-top: 60px;
}

@media (max-width: 760px) {

  .duties {
    width: 320px;
    height: 1089px;
    background-color: #F0F9FC;
    background: url(../img/Mobile/bg.jpg) no-repeat center;
    background-size: cover;
    margin: 0 auto;
  }
  
  .duties__pos {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
  }

  .duties__title {
    height: 123px;
    width: 300px;
    font-size: 34px;
    line-height: 40.8px;
    color: rgba(33, 33, 33, 1);
    margin-right: 15px;
    margin-top: 80px;
  }

  .duties__discr-item {
    width: 200px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(117, 117, 117, 1);
    margin: 0px
  }

  .duties__discr-item {
    height: 125px;
    margin-bottom: 20px;
  }

  .duties__discr-item-num {
    font-size: 34px;
    line-height: 40.8px;
    color: rgba(61, 180, 211, 1);
  }
  

  .duties__discr {
    display: flex;
    justify-content: start;
    margin-top: 40px;
    
  }

  

}

.demand {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demand__pos {
  max-width: 1170px;
}



.demand__title {
  font-size: 50px;
  line-height: 62.5px;
  color: rgba(33, 33, 33, 1);
  margin-top: 150px;
  margin-left: 135px;
}

.demand__title-word {
  background-color: rgba(252, 213, 68, 1);
  display: inline-block;
}

.demand__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 60px 0 0 100px;
}

.demand__list-item {
  margin-right: 10px;
  margin-left: 40px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 31.5px;
  color: rgba(117, 117, 117, 1);
  width: 200px;
}

@media (max-width: 760px) {
  .demand {
    height: 1500px;
    width: 100vw;
  }

  .demand__pos {
    max-width: 300px;
    margin-left: 15px;
  }

  .demand__title {
    width: 250px;
    margin: 0;
    font-size: 34px;
    line-height: 40.8px;
    color: rgba(33, 33, 33, 1);
  }
  .demand__list {
    margin: 0;
  }

  .demand__list-item {
    margin: 40px 0 0 0;
    font-size: 16px;
    line-height: 28px;
    width: 290px;
  }
}

.response {
  display: flex;
  justify-content: center;
}

.response__pos {
  display: flex;
  max-width: 1440px;
  margin-right: 50px;
}

.response__info {
  margin-top: 125px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  width: 470px;
}

.response__info-title {
  font-family: 'Montserrat'; 
  font-size: 50px;
  line-height: 62.5px;
  color: rgba(33, 33, 33, 1);
}

.response__info-title-word {
  padding: 0 5px 0 5px;
  display: inline-block;
  background-color: rgba(252, 213, 68, 1);
}

.response__info-discr {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 31.5px;
  color: rgba(117, 117, 117, 1);
}

.response__form__input {
  padding: 15px 15px 15px 0;
  width: 470px;
  display: flex;
  flex-direction: column;
  border: none;
  border-bottom: 2px solid rgba(117, 117, 117, 1);
}

.response__form__input-submit{
  font-family: Montserrat;
  margin-top: 50px;
  width: 270px;
  height: 60px;
  background-color: rgba(252, 213, 68, 1);
  border: 0;
  font-size: 15px;
  line-height: 26.25px;
  font-weight: bold;
  text-transform: uppercase;
}

.response__info-img{
  display: none;
}

@media (max-width: 760px) {
  .response {
    background-color: rgba(240, 249, 252, 1);
    padding-bottom: 50px;
    width: 100vw;
  }
  
  .response__pos {
    display: flex;
    width: 100vw;
    margin: 0;
  }

  .response-img{
    display: none;
  }

  .response__info {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
  }

  .response__info-title {
    font-size: 34px;
    line-height: 40.8px;
    margin: 80px 0 40px 0; 
  }

  .response__info-discr {
    margin: 20px 0px 40px 0px;
    font-size: 18px;
    line-height: 31.5px;
    color: rgba(117, 117, 117, 1);

  }

  .response__info-img{
    display: block;
    width: 320px;
    margin-left: -10px;
  }

  .response__form__input {
    padding: 15px 15px 15px 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 2px solid rgba(117, 117, 117, 1);
    background-color: #F0F9FC;
  }

  .response__form__input-submit{
    margin: 40px 0 0 15px;
  }
}

.footer {
  display: flex;
  width: 100%;
  height: 365px;
  background-color: rgba(61, 180, 211, 1);
  align-items: center;
  justify-content: center;
}

.footer__contacts-viber{
  width: 200px;
}

.footer__contacts-viber-item {
  display: flex;
  width: 400px;
  padding-bottom: 15px;
}

.footer__contacts-viber-item-img {
  padding-right: 15px;
}

.footer__contacts-viber-item-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 31.5 px;
  width: 400px;
}

.footer__contacts-viber-item-link-name{
  display: inline-block;
  font-size: 21px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.footer__contacts-location-links {
  display: flex;
  justify-content: space-between;
  width: 207px;
  padding-bottom: 15px;
  margin-left: 70px;
}

.footer__contacts-location-mail {
  margin-left: 40px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 31.5px;
}

.footer__contacts-location-adress {
  font-size: 18px;
  line-height: 31.5px;
}

@media (max-width: 760px) {
  .footer {
    display: flex;
    width: 100vw;
    height: 645px;
    background-color: rgba(61, 180, 211, 1);
    align-items: center;
    flex-direction: column;
  }

  .footer__contacts{
    width: 300px;
    height: 645px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .footer__contacts-viber-item {
    margin-top: 0;
    padding-bottom: 0px;
    width: 105px;
  }

  .footer__contacts-img-pic{
    margin-top: 50px;
  }

  .footer__contacts-viber-item-img {
    padding-right: 0px;
  }

  .footer__contacts-location-links{
    margin-left: 0;
    height: 80px;
  }

  .footer__contacts-location-mail{
    margin-left: 0;
    padding: 0;
    margin: 30px 0 25px 0;
  }

  .footer__contacts-viber-item{
    margin-top: 30px;
    height: 69px;
  }

  .footer__contacts-location-adress{
    width: 166px;
  }
  
  .footer__contacts-viber-item-link-name{
    margin: 13px 0 0 15px;
    line-height: 40px;
  }
}

